@model Final_Project.Models.DataProductos

<h4>Notificar Estado de envío</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="Nombre" type="hidden" />
            <input asp-for="Descripcion" type="hidden" />
            <input asp-for="Categoria" type="hidden" />
            <input asp-for="Precio" type="hidden" />
            <input asp-for="Descripcion" type="hidden" />
            <input asp-for="Telefono" type="hidden" />
            <input asp-for="Latitud" type="hidden" />
            <input asp-for="Longitud" type="hidden" />
            <input asp-for="NombreCliente" type="hidden" />
            <input asp-for="ApellidoCliente" type="hidden" />
            <input asp-for="Direccion" type="hidden" />
            <input asp-for="Correo" type="hidden" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                @Html.DisplayFor(model => model.Nombre)
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                @Html.DisplayFor(model => model.Descripcion)
            </div>
            <div class="form-group">

                <label asp-for="Estado" class="control-label"></label><br />
                @Html.DropDownListFor(m => m.Estado,
                     new SelectList(Enum.GetValues(typeof(_estado))),
                     "Selecciona una Estado", new {@class = "btn btn-secondary dropdown-toggle" })
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

