@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cuenta";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    ¿Confirmar Cuenta?
   : <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aquí para confirmar</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
