@model Final_Project.Models.DataProductos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Del Articulo</h1><br />
<head>
    <!-- Material Design Lite -->
    
    <link rel="stylesheet" href="~/css/Detalles.css" />
</head>
<body>
    
    <form asp-controller="Carrito" asp-action="Create">
        <section class="container">
            <div v-if="products.length > 0">
                <ul class="products">
                    <li class="row" v-for="(product, index) in products">
                        <div class="col left">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="@Url.Action("RenderImage","Productos", new { id = Model.Id})" />
                                </a>
                            </div>
                            <div class="detail">
                                <div class="name">
                                    <h6 class="white-text">Nombre:</h6>
                                    <input type="hidden" asp-for="Nombre" class="form-control" />
                                    @Html.DisplayFor(model => model.Nombre)
                                </div><br />
                                <div class="description">
                                    <h6 class="white-text">Descripcion:</h6>
                                    <input type="hidden" asp-for="Descripcion" class="form-control" />
                                    @Html.DisplayFor(model => model.Descripcion)
                                </div><br />
                                <div class="price">
                                    <h6 class="white-text">Cantidad:</h6>
                                    <input type="hidden" asp-for="Cantidad" class="form-control" />
                                    @Html.DisplayFor(model => model.Cantidad)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkout">
                                    <button type="submit">Carrito</button>
                                </div>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </section>
    </form>
</body>
