@model IEnumerable<Final_Project.Models.DataProductos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" class="float-lg-right">
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <a asp-action="Details" asp-route-id="@item.Id">
                <img width="400x" src="@Url.Action("RenderImage","Productos", new { id = item.Id})" />
            </a>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
